# Auto-detect text files and perform LF normalization
* text=auto

# Source code
*.py text eol=lf
*.md text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.cff text eol=lf

# Binaries
*.png binary
*.jpg binary
*.xlsx binary
*.zip binary
*.rar binary
*.7z binary
